.ico_companies { background-image: url(../images/ico_hotels.png); }
.ico_companies_users { background-image: url(../images/ico_users.png); }
.ico_companies_accounts { background-image: url(../images/ico_hotels.png); }
.ico_companies_departments { background-image: url(../images/ico_deps.png); }
.ico_companies_settings { background-image: url(../images/ico_hotels.png); }